<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">
¿Ya registrado? <a href="#">Registrarse</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="usuario"/>
      <input type="password" placeholder="password"/>
      <button>Iniciar session</button>
      <p class="message">¿No registrado? <a href="/register">Crea una cuenta</a></p>
    </form>
  </div>
</div>
